/* Put your style information here! */

body {
  padding: 2rem 4rem;
}

.card-padding {
	width: 18rem;
	padding: 1rem;
}

ul {
  list-style-position: inside;
}

.divider {
	border-top: 2px dashed #6122b4;
	margin: 1.5rem auto;
  width: 90vw;
}

h1,
h2 {
  color: #057676;
}

.card-body {
  background: #057676;
  color: white;
  border-radius: 5px;
}
